
@{
    ViewData["Title"] = "AppointmentDetails2";
}

<h2>THANK YOU @ViewBag.FN @ViewBag.LN</h2>
Your Appointment with @ViewBag.adv on @ViewBag.dateAp has been confirmed.
<b/>You will recieve a confirmation email on your appointment.
    

