@model EastAdvising.Models.Availability

<div class="container card_box border rounded">
    <form method="post" asp-action="AvailabilityDetails2">


        <div class="card my_card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card-header my_card_header">
                <label><i class="far fa-calendar-check"></i> Select Date</label>
            </div>
            <div class="card-body my_card_body">
                <ul class="form_style">
                    <li>
                        <label asp-for="StartTime.Date"></label>
                        <input type="date" name="date1" value="@DateTime.Now" />

                    </li>
                    <li>
                        <input hidden asp-for="AdvisorId" name="id" />

                    </li>
                    <li>
                        <label asp-for="Advisor"></label>
                        <input hidden asp-for="AdvisorId" name="id" />
                        <input readonly asp-for="Advisor.FullName" name="fullname" />
                    </li>

                </ul>

                <img src="~/images/weber-state-university-squarelogo_emblem_green.png" class="img-responsive card_image" />

            </div>

            <div class="card-footer my_card_footer">
                <input type="submit" class="btn btn-primary my_button" value="View Appointments" />

            </div>
        </div>

    </form>
</div>