@model List<EastAdvising.Models.College>


<div class="container card_box border rounded">
    @foreach (var colleges in Model)
    {
        <div class="card my_card">
            <div class="card-header my_card_header">
                <h5>@colleges.CollegeName</h5>
            </div>

            <div class="card-body my_card_body">
                <img src="~/images/weber-state-university-squarelogo_emblem_green.png" class="img-fluid card_image" />
            </div>

            <div class="card-footer my_card_footer">

                <a asp-action="CollegeDetails" asp-controller="Home"
                   class="btn btn-primary my_button button"
                   asp-route-id="@colleges.CollegeId">View Department</a>
            </div>
        </div>
    }
</div>



